nav,
footer {
  font-family: 'Nixie One', cursive, Courier, serif;
}

body{
  text-align: center;
  background-color: #F7EB97;
}
.container{
  margin: 0 auto;
  width: 73%;
}

#logo{
  font-family: 'Fredericka the Great', cursive, Courier, serif;s
}

a:hover{
  background-color: #610521;
  color: white;
  border-bottom: 4px solid black;
}

.column {
  float: left;
  border-right: 2px solid black;
  padding: 0 10px;
  margin-bottom: 10px;
}

.column:nth-child(3){
  border-right: 0;
}
.column img {
  display: block;
  margin-bottom: 10px;
  }

.column img:last-of-type{
  margin-bottom: 0;
}

.column.first{
  width: 31%;
  text-align: justify;
}

.column.first h1{
  height: 1.5em;
  line-height: 1.5em;
  text-align: justify;
  text-align-last: justify;
}

.column.first h1:after{
  content:'';
  display: inline-block;
  width: 100%;
}

.column.second{
  width: 31%;
  text-align: justify;
}

.column.third{
  width: 31%;
}

.column.third img{
  width: 100%;
}

.row{
  clear: left;
}

#logo {
  font-size: 48px;
}

footer{
  clear: both;
  float: right;
}

nav a {
  border-bottom: 4px solid #610521;
  font-size: 55px;
  border-bottom-width: ;
  text-decoration: none;
  color: black;
  margin: 0px 30px 30px 30px;
  text-align: left;
}
nav{
  margin: 20px;
}
